
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}

		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Register</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('register') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
					<input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                    <input id="name" name="name" type="text" placeholder="Enter Your name" class="textbox"/></br></br>
                    <input id="address" name="address" type="text" placeholder="Enter Your address" class="textbox"/></br></br>
                    <input id="phone" name="phone" type="text" placeholder="Enter Your phone" class="textbox"/></br></br>
                    <input id="date" name="date" type="date" placeholder="Enter Your DOB" class="textbox"/></br></br>
                    	<input type="submit" class="btn" value="Sign Up"></br>
				</form>
			</h2>
			<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
		</div>
		</div>
        {% include "footer.html" %}
 


{% endblock %}

